#top {
  height: 400px;
  width: 100%;
  color: #ffffff ;
  background-color: #f2a203;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  display: flex;           
  flex-direction: column;  
  justify-content: center; 
  align-items: center;     
}

div {
  position: relative;
  width: 300px;
  text-align: center;  
  font-size: 1.5em;
}

