#tweets {
  display: flex;
  background-color: #f4f1ec;
  color: #545149;
  margin: 0 auto;
}
article {
  border: 4px solid #545149;
  margin: 0 auto;
}
article header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: 130px;
  width: 95%;
  margin: 0 auto;
  padding-top: 15px;
  text-indent: 10px;

}


div.tweetText {
  width: 95%;
  margin: 0 auto;
  height: 70px;
  font-size: 1.1em;
  font-weight: 600;
  text-indent: 10px;

}

span.nameId {
  color: #9DE1E8
}

article footer {
  display: flex;
  margin: 0 auto;
  background-color: #f4f1ec;
  border-bottom: none;
  border-right: none;
  border-left: none;
  border-top: 4px solid #545149;
  height: 50px;
  width: 95%;
  font-size: 0.7em;
  justify-content: space-between;
  padding-top: 10px;
  text-indent: 10px;
}

img.profile {
  height: 50px;
  vertical-align: middle;
  padding-right: 5px;
}

div img.icons {
  height: 30px;
  width: 30px;
}